{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Developers</title>
    <STYLE>A {text-decoration: none;} </STYLE>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
</head>

<body>
    <div class="container">
        <br>
        <h2>Developers and Contributors:</h2>
        <br>
        <div class="jumbotron">
            <h4>
                1. <a href=https://www.instagram.com/mohanbhole7/</a> ~ (Copyright © 2022)
           
        </div>
    </div>

</body>
</html>

